<style>
  ::ng-deep .mat-form-field-wrapper {
    margin-top: -1.25em;
  }

  mat-icon {
    cursor: pointer;
  }
  tbody.text-center {
    text-align: left !important;
}
</style>

<div class="action-container" style="padding: 3%;">
  <button mat-raised-button class="btn btn-primary float-right" type="submit" (click)="addRow()" *ngIf="!disable">Add
    Row</button>
  &nbsp;
  <!-- <button mat-raised-button class="btn btn-primary" [disabled]="contactForm.invalid" type="submit"
        (click)="submitForm()">Submit</button> -->
</div>

<form [formGroup]="paymentForm" style="font-size: 12px">
  <table class="table table-bordered table-sm">
    <thead class="text-nowrap text-center">
      <th>
        <h6>Payment Type<span class="text-danger">*</span></h6><span dragableColumn> </span>
      </th>
      <th>
        <h6>Account Name<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Account Number<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Routing Number</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>CVV</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Expiry Month</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Expiry Year</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Valid<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th></th>
    </thead>
    <tbody class="text-center">
      <ng-container formArrayName="clientPaymentMethods" *ngFor="let group of getFormControls.controls ; let i=index">
        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Payment Type</mat-label>
              <mat-select formControlName="payment_type" (selectionChange)="disableField(i)">
                <mat-option *ngFor="let item of paymentType | keyvalue" value={{item.key}}>
                  {{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Account Name</mat-label>
              <input matInput type="text" formControlName="account_name" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Account Number</mat-label>
              <input matInput type="text" formControlName="account_number" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Routing Number</mat-label>
              <input matInput type="text" formControlName="routing_number" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>CVV</mat-label>
              <input matInput type="text" formControlName="cvv" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Expiry Month</mat-label>
              <mat-select formControlName="expiry_month" (selectionChange)="submitForm()">
                <mat-option selected value='1'>Janaury</mat-option>
                <mat-option value='2'>February</mat-option>
                <mat-option value='3'>March</mat-option>
                <mat-option value='4'>April</mat-option>
                <mat-option value='5'>May</mat-option>
                <mat-option value='6'>June</mat-option>
                <mat-option value='7'>July</mat-option>
                <mat-option value='8'>August</mat-option>
                <mat-option value='9'>September</mat-option>
                <mat-option value='10'>October</mat-option>
                <mat-option value='11'>November</mat-option>
                <mat-option value='12'>December</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Expiry Year</mat-label>
              <mat-select formControlName="expiry_year" (selectionChange)="submitForm()">
                <mat-option *ngFor="let item of range | keyvalue" value={{item.value}}>{{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Valid</mat-label>
              <mat-select formControlName="valid" (selectionChange)="submitForm()">
                <mat-option value="1">Valid
                </mat-option>
                <mat-option value="0">Not Valid
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
            <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
          </td>
        </tr>
        <tr *ngIf="!group.get('isEditable').value">
          <td>
            {{group.get('payment_type').value ? paymentType[group.get('payment_type').value] :''}}
          </td>
          <td>
            {{group.get('account_name').value ? group.get('account_name').value:''}}
          </td>
          <td>
            {{group.get('account_number').value ? group.get('account_number').value :''}}
          </td>
          <td>
            {{group.get('routing_number').value ? group.get('routing_number').value:''}}
          </td>
          <td>
            {{group.get('cvv').value?group.get('cvv').value:''}}
          </td>
          <td>
            {{group.get('expiry_month').value?group.get('expiry_month').value:''}}
          </td>
          <td>
            {{group.get('expiry_year').value?group.get('expiry_year').value:''}}
          </td>
          <td>
            {{group.get('valid').value ?group.get('valid').value==1?'Valid':'Not Valid':'Valid'}}
          </td>
          <td>
            <mat-icon class="edit" (click)="editRow(group)" *ngIf="!disable">edit</mat-icon>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</form>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> {{modalMessage}}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modalRef.hide()">Ok</button>
      <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>
