<style>
  ::ng-deep.mat-tab-link,
  ::ng-deep.mat-tab-label,
  ::ng-deep.mat-tab-label-active {
    min-width: 97px !important;
  }

  ::ng-deep .tabs .mat-tab-list .mat-tab-labels {
    font-weight: 100;
  }
</style>
<!-- <div class="page-header">
  <h3 class="page-title">
    Client Details
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;" (click)="redirect()">Individuals</a></li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>
</div> -->
<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body" style="padding-top: 1.25rem;">
      <ngx-spinner bdColor="rgba(0,0,0,0.21)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
        <p style="color: white"> Loading... </p>
      </ngx-spinner>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Individual Details">
          <div class="grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form class="form-sample" [formGroup]="individualForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                          <input class="form-control " (keyup)="onSubmit()" formControlName="first_name" placeholder="first name"
                            [(ngModel)]="firstName" />
                          <div
                            *ngIf="individualForm.get('first_name').invalid && (individualForm.get('first_name').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('first_name').errors.required">
                              First Name is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Middle Name</label>
                        <div class="col-sm-8">
                          <input class="form-control"(keyup)="onSubmit()"  formControlName="middle_name" placeholder="middle name"
                            maxlength="10" [(ngModel)]="middleName" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                          <input class="form-control" (keyup)="onSubmit()" formControlName="last_name" placeholder="last name" maxlength="10"
                            [(ngModel)]="lastName" />
                          <div
                            *ngIf="individualForm.get('last_name').invalid && (individualForm.get('last_name').touched)"
                            class="text-danger" [(ngModel)]="firstName">
                            <p *ngIf="individualForm.get('last_name').errors.required">
                              Last Name is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date of Birth</label>
                        <div class="col-sm-8">
                          <input type="text"  (keyup)="onSubmit()" placeholder="MM/DD/YYY" formControlName="DOB" [(ngModel)]="DOB"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM/DD/YYY', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                          <div *ngIf="individualForm.get('DOB').invalid && (individualForm.get('DOB').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('DOB').errors.required">
                              Date Of Birth is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Gender</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio"  (keyup)="onSubmit()" class="form-check-input" id="membershipRadios1" formControlName="sex"
                                value="M" [(ngModel)]="sex">
                              Male
                              <i class="input-helper"></i>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio"  (keyup)="onSubmit()" class="form-check-input" id="membershipRadios2" formControlName="sex"
                                value="F" [(ngModel)]="sex">
                              Female
                              <i class="input-helper"></i>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">SSN</label>
                        <div class="col-sm-8">
                          <input class="form-control"  (keyup)="onSubmit()" placeholder="ssn" formControlName="ssn" maxlength="11"
                            [(ngModel)]="ssn" appSSNMask />
                          <div *ngIf="individualForm.get('ssn').invalid && (individualForm.get('ssn').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('ssn').errors.required">
                              SSn is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Weight</label>
                        <div class="col-sm-8">
                          <input class="form-control"  (keyup)="onSubmit()" type="number" oninput="if(value.length>16)value=value.slice(0,3)"
                            placeholder="weight" formControlName="weight" [(ngModel)]="weight" />
                          <div *ngIf="individualForm.get('weight').invalid && (individualForm.get('weight').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('weight').errors.required">
                              Weight is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Height Inches</label>
                        <div class="col-sm-8">
                          <input class="form-control"  (keyup)="onSubmit()" type="number" placeholder="height in inches"
                            oninput="if(value.length>16)value=value.slice(0,3)" formControlName="height_inches"
                            [(ngModel)]="inches" />
                          <div
                            *ngIf="individualForm.get('height_inches').invalid && (individualForm.get('height_inches').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('height_inches').errors.required">
                              Height is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Height Feet</label>
                        <div class="col-sm-8">
                          <input class="form-control"  (keyup)="onSubmit()" type="number" placeholder="height in feets"
                            oninput="if(value.length>16)value=value.slice(0,3)" formControlName="height_feet"
                            [(ngModel)]="feet" />
                          <div
                            *ngIf="individualForm.get('height_feet').invalid && (individualForm.get('height_feet').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('height_feet').errors.required">
                              Height is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">MP User Id</label>
                        <div class="col-sm-8">
                          <input type="text"  (keyup)="onSubmit()" class="form-control" placeholder="mp user id" formControlName="mp_user_id"
                            [(ngModel)]="mpUserId" maxlength="10" />
                          <div
                            *ngIf="individualForm.get('mp_user_id').invalid && (individualForm.get('mp_user_id').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('mp_user_id').errors.required">
                              MP User Id is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">MP Password</label>
                        <div class="col-sm-8">
                          <input type="text"  (keyup)="onSubmit()" class="form-control" placeholder="mp password" maxlength="10"
                            formControlName="mp_password" [(ngModel)]="mpPassword" />
                          <div
                            *ngIf="individualForm.get('mp_password').invalid && (individualForm.get('mp_password').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('mp_password').errors.required">
                              MP Password is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Driver License State</label>
                        <div class="col-sm-8">
                          <select class="form-control"  formControlName="driver_license_state" [(ngModel)]="driverState">
                            <option class="dropdown-item" *ngFor="let item of states | keyvalue" value={{item.key}}>
                              {{item.value}}</option>
                          </select>
                          <div
                            *ngIf="individualForm.get('driver_license_state').invalid && (individualForm.get('driver_license_state').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('driver_license_state').errors.required">
                              State is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Driver License Number</label>
                        <div class="col-sm-8">
                          <input type="text" (keyup)="onSubmit()" class="form-control" placeholder="License no" maxlength="15"
                            formControlName="driver_license_number" [(ngModel)]="driverNumber" />
                          <div
                            *ngIf="individualForm.get('driver_license_number').invalid && (individualForm.get('driver_license_number').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('driver_license_number').errors.required">
                              Driver License Number is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Client Type</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="client_type" [(ngModel)]="clienttype">
                            <option *ngFor="let item of clientType | keyvalue" value={{item.key}}>{{item.value}}
                            </option>
                          </select>
                          <div
                            *ngIf="individualForm.get('client_type').invalid && (individualForm.get('client_type').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('client_type').errors.required">
                              Client Type is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Notes</label>
                        <div class="col-sm-8">
                          <textarea class="form-control" placeholder="notes" formControlName="notes" rows="2"
                            [(ngModel)]="notes" (keyup)="onSubmit()"></textarea>
                          <div *ngIf="individualForm.get('notes').invalid && (individualForm.get('notes').touched)"
                            class="text-danger">
                            <p *ngIf="individualForm.get('notes').errors.required">
                              Notes is Required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button type="submit" *ngIf="!hideSubmit" (click)="saveIndividualDetails()"
                    [disabled]="!individualForm.valid" class="btn btn-primary mr-2">Submit</button> -->
                </form>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Contacts">
          <app-contacts></app-contacts>
        </mat-tab>
        <mat-tab label="Address">
          <app-address></app-address>
        </mat-tab>
        <mat-tab label="Employment">
          <app-employment></app-employment>
        </mat-tab>
        <mat-tab label="Payment">
          <app-payment></app-payment>
        </mat-tab>
        <mat-tab label="Attachments">
          <app-attachments></app-attachments>
        </mat-tab>
        <mat-tab label="Documents">
          <app-documents></app-documents>
        </mat-tab>
        <mat-tab label="Relationships" disabled>Content 3</mat-tab>
      </mat-tab-group>
      <br/>
      <button class="btn btn-primary float-right" [disabled]="!individualForm.valid" (click)="submit()">SUBMIT</button>
    </div>
  </div>
</div>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <p> {{modalMessage}}
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="modalRef.hide()">Ok</button>
          <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
      </div>
  </div>
</ng-template>