<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="page-header">
  <h3 class="page-title">
    Client Details
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;" (click)="redirect()">Individuals</a></li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>
</div>
<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <!-- <h4 class="card-title">Basic Tab</h4>
      <p class="card-description">Horizontal bootstrap tab</p> -->
      <ngx-spinner bdColor="rgba(0,0,0,0.21)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
      </ngx-spinner>
      <ngb-tabset>
        <ngb-tab title="Individual Details" class="title">
          <ng-template ngbTabContent>
            <form class="form-sample" [formGroup]="individualForm">
              <ngb-alert *ngIf="FormError" [dismissible]="false" class="d-block mt-3" type="danger">
                This tab content DOM will de destroyed when not active
              </ngb-alert>
              <ngb-alert *ngIf="success" [dismissible]="false" class="d-block mt-3" type="success">
                {{successMessage}}
              </ngb-alert>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First Name</label>
                    <div class="col-sm-8">
                      <input class="form-control " formControlName="first_name" placeholder="first name"
                        [(ngModel)]="firstName" />
                      <div
                        *ngIf="individualForm.get('first_name').invalid && (individualForm.get('first_name').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('first_name').errors.required">
                          First Name is Required.
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Middle Name</label>
                    <div class="col-sm-8">
                      <input class="form-control" formControlName="middle_name" placeholder="middle name"
                        [(ngModel)]="middleName" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-8">
                      <input class="form-control" formControlName="last_name" placeholder="last name"
                        [(ngModel)]="lastName" />
                      <div *ngIf="individualForm.get('last_name').invalid && (individualForm.get('last_name').touched)"
                        class="text-danger" [(ngModel)]="firstName">
                        <p *ngIf="individualForm.get('last_name').errors.required">
                          Last Name is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date of Birth</label>
                    <div class="col-sm-8">
                      <input type="text" placeholder="YYYY-DD-MM" formControlName="DOB" [(ngModel)]="DOB"
                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-DD-MM', containerClass: 'theme-default' }"
                        class="form-control " bsDatepicker>
                      <div *ngIf="individualForm.get('DOB').invalid && (individualForm.get('DOB').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('DOB').errors.required">
                          Date Of Birth is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Gender</label>
                    <div class="col-sm-8">
                      <select class="form-control" formControlName="sex" [(ngModel)]="sex">
                        <option value="">Select gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                      <div *ngIf="individualForm.get('sex').invalid && (individualForm.get('sex').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('sex').errors.required">
                          Gender is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">SSN</label>
                    <div class="col-sm-8">
                      <input class="form-control" placeholder="ssn" formControlName="ssn" [(ngModel)]="ssn" />
                      <div *ngIf="individualForm.get('ssn').invalid && (individualForm.get('ssn').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('ssn').errors.required">
                          SSn is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Weight</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="number" placeholder="weight" formControlName="weight"
                        [(ngModel)]="weight" />
                      <div *ngIf="individualForm.get('weight').invalid && (individualForm.get('weight').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('weight').errors.required">
                          Weight is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Height Inches</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="number" placeholder="height in inches"
                        formControlName="height_inches" [(ngModel)]="inches" />
                      <div
                        *ngIf="individualForm.get('height_inches').invalid && (individualForm.get('height_inches').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('height_inches').errors.required">
                          Height is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Height Feet</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="number" placeholder="height in feets"
                        formControlName="height_feet" [(ngModel)]="feet" />
                      <div
                        *ngIf="individualForm.get('height_feet').invalid && (individualForm.get('height_feet').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('height_feet').errors.required">
                          Height is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">MP User Id</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="mp user id" formControlName="mp_user_id"
                        [(ngModel)]="mpUserId" />
                      <div
                        *ngIf="individualForm.get('mp_user_id').invalid && (individualForm.get('mp_user_id').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('mp_user_id').errors.required">
                          MP User Id is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">MP Password</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="mp password" formControlName="mp_password"
                        [(ngModel)]="mpPassword" />
                      <div
                        *ngIf="individualForm.get('mp_password').invalid && (individualForm.get('mp_password').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('mp_password').errors.required">
                          MP Password is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Driver License State</label>
                    <div class="col-sm-8">
                      <select class="form-control" formControlName="driver_license_state" [(ngModel)]="driverState">
                        <option value="">Select State</option>
                        <option *ngFor="let item of states | keyvalue" value={{item.key}}>{{item.value}}</option>
                      </select>
                      <div
                        *ngIf="individualForm.get('driver_license_state').invalid && (individualForm.get('driver_license_state').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('driver_license_state').errors.required">
                          State is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Driver License Number</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="License no"
                        formControlName="driver_license_number" [(ngModel)]="driverNumber" />
                      <div
                        *ngIf="individualForm.get('driver_license_number').invalid && (individualForm.get('driver_license_number').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('driver_license_number').errors.required">
                          Driver License Number is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Client Type</label>
                    <div class="col-sm-8">
                      <select class="form-control" formControlName="client_type" [(ngModel)]="clienttype">
                        <option value="">Select Type</option>
                        <option *ngFor="let item of clientType | keyvalue" value={{item.key}}>{{item.value}}</option>
                      </select>
                      <div
                        *ngIf="individualForm.get('client_type').invalid && (individualForm.get('client_type').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('client_type').errors.required">
                          Client Type is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Notes</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="notes" formControlName="notes"
                        [(ngModel)]="notes" />
                      <div *ngIf="individualForm.get('notes').invalid && (individualForm.get('notes').touched)"
                        class="text-danger">
                        <p *ngIf="individualForm.get('notes').errors.required">
                          Notes is Required.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" *ngIf="!hideSubmit" (click)="saveIndividualDetails()"
                [disabled]="!individualForm.valid" class="btn btn-gradient-primary mr-2">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Contacts" [disabled]="!showContacts">
          <ng-template ngbTabContent>
            <div class="card-title">
              <button type="button" class="btn btn-gradient-primary btn-sm" (click)="addContacts()">Add
                Contacts
              </button>
            </div>
            <form class="form-sample" [formGroup]="contactForm">
              <ngb-alert *ngIf="contactError" [dismissible]="false" class="d-block mt-3" type="danger">
                {{contactFormError}}
              </ngb-alert>
              <ngb-alert *ngIf="contactSuccess" [dismissible]="false" class="d-block mt-3" type="success">
                {{contactMessage}}
              </ngb-alert>
              <div formArrayName="contacts">
                <section class="container border mb-4 p-3" *ngFor="let item of contacts.controls; let pointIndex=index"
                  [formGroupName]="pointIndex">
                  <div class="card-title">Contact {{pointIndex + 1}}</div>
                  <div class="card-description text-right">
                    <button type="button" class="btn btn-gradient-danger btn-sm"
                      (click)="deleteContacts(pointIndex)">Delete Contacts</button>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Mobile No</label>
                        <div class="col-sm-8">
                          <input type="number" maxlength="10" class="form-control" formControlName="phone_no"
                            placeholder="Mobile No" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Email Id</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="email" placeholder="Email Id" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Contact type</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="contact_type">
                            <option value="">Select Type</option>
                            <option *ngFor="let item of contactype | keyvalue" value={{item.key}}>{{item.value}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <button type="submit" *ngIf="!hideSubmit" (click)="saveContacts()"
                class="btn btn-gradient-primary mr-2">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Address" [disabled]="!showAddress">
          <ng-template ngbTabContent>
            <div class="card-title">
              <button type="button" class="btn btn-gradient-primary btn-sm" (click)="addAddress()">Add
                Address
              </button>
            </div>
            <form class="form-sample" [formGroup]="addressForm">
              <ngb-alert *ngIf="addressError" [dismissible]="false" class="d-block mt-3" type="danger">
                {{addressFormError}}
              </ngb-alert>
              <ngb-alert *ngIf="addressSuccess" [dismissible]="false" class="d-block mt-3" type="success">
                {{addressMessage}}
              </ngb-alert>
              <div formArrayName="address">
                <section class="container border mb-4 p-3" *ngFor="let item of address.controls; let pointIndex=index"
                  [formGroupName]="pointIndex">
                  <div class="card-title">Address {{pointIndex + 1}}</div>
                  <div class="card-description text-right">
                    <button type="button" class="btn btn-gradient-danger btn-sm"
                      (click)="deleteAddress(pointIndex)">Delete Address</button>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Address Type</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="address_type">
                            <option value="">Select Type</option>
                            <option *ngFor="let item of addresstype | keyvalue" value={{item.key}}>{{item.value}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Number</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="number" placeholder="Number" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Street</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="street" placeholder="street" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">suite</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="suite" placeholder="suite" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">State</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="state" (click)="setCity()">
                            <option value="">Select State</option>
                            <option *ngFor="let item of states | keyvalue" value={{item.key}}>{{item.value}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">City</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="city">
                            <option value="">Select Type</option>
                            <option *ngFor="let item of city" value={{item}}>{{item}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Zip</label>
                        <div class="col-sm-8">
                          <input type="number" class="form-control" formControlName="zip" placeholder="Zip" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">From Date</label>
                        <div class="col-sm-8">
                          <input type="text" placeholder="YYYY-DD-MM" formControlName="from_date"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-DD-MM', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">To Date</label>
                        <div class="col-sm-8">
                          <input type="text" placeholder="YYYY-DD-MM" formControlName="to_date"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-DD-MM', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <button type="submit" *ngIf="!hideSubmit" (click)="saveAddress()"
                class="btn btn-gradient-primary mr-2">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Employment" [disabled]="!showEmployemment">
          <ng-template ngbTabContent>
            <div class="card-title">
              <button type="button" class="btn btn-gradient-primary btn-sm" (click)="addEmployer()">Add
                Employer
              </button>
            </div>
            <form class="form-sample" [formGroup]="employerForm">
              <ngb-alert *ngIf="employerError" [dismissible]="false" class="d-block mt-3" type="danger">
                {{employerFormError}}
              </ngb-alert>
              <ngb-alert *ngIf="employerSuccess" [dismissible]="false" class="d-block mt-3" type="success">
                {{employerMessage}}
              </ngb-alert>
              <div formArrayName="employer">
                <section class="container border mb-4 p-3" *ngFor="let item of employer.controls; let pointIndex=index"
                  [formGroupName]="pointIndex">
                  <div class="card-title">Employer {{pointIndex + 1}}</div>
                  <div class="card-description text-right">
                    <button type="button" class="btn btn-gradient-danger btn-sm"
                      (click)="deleteEmployer(pointIndex)">Delete Employer</button>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Employer Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="employer_name"
                            placeholder="employer name" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Employer Phone</label>
                        <div class="col-sm-8">
                          <input type="number" maxlength="10" class="form-control" formControlName="employer_phone"
                            placeholder="employer phone" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Income Amount</label>
                        <div class="col-sm-8">
                          <input type="number" class="form-control" formControlName="income_amount"
                            placeholder="income amount" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Income Frequency</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="income_frequency">
                            <option value="">Select Type</option>
                            <option *ngFor="let item of incomeFrequency | keyvalue" value={{item.key}}>{{item.value}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Start Date</label>
                        <div class="col-sm-8">
                          <input type="text" placeholder="DD-MM-YYYY" formControlName="start_date"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">End Date</label>
                        <div class="col-sm-8">
                          <input type="text" placeholder="DD-MM-YYYY" formControlName="end_date"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <button type="submit" *ngIf="!hideSubmit" (click)="saveEmployer()"
                class="btn btn-gradient-primary mr-2">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Payment" [disabled]="!showPayment">
          <ng-template ngbTabContent>
            <div class="card-title">
              <button type="button" class="btn btn-gradient-primary btn-sm" (click)="addPayment()">Add
                Payment Method
              </button>
            </div>
            <form class="form-sample" [formGroup]="paymentForm">
              <ngb-alert *ngIf="paymentError" [dismissible]="false" class="d-block mt-3" type="danger">
                {{paymentFormError}}
              </ngb-alert>
              <ngb-alert *ngIf="paymentSuccess" [dismissible]="false" class="d-block mt-3" type="success">
                {{paymentMessage}}
              </ngb-alert>
              <div formArrayName="payment">
                <section class="container border mb-4 p-3" *ngFor="let item of payment.controls; let pointIndex=index"
                  [formGroupName]="pointIndex">
                  <div class="card-title">Payment Method {{pointIndex + 1}}</div>
                  <div class="card-description text-right">
                    <button type="button" class="btn btn-gradient-danger btn-sm"
                      (click)="deletePayment(pointIndex)">Delete Payment</button>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Payment Type</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="payment_type">
                            <option value="">Select Type</option>
                            <option *ngFor="let item of paymentType | keyvalue" value={{item.key}}>{{item.value}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Account Number</label>
                        <div class="col-sm-8">
                          <input type="number" maxlength="19" class="form-control" formControlName="account_number"
                            placeholder="account number" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Account Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="account_name"
                            placeholder="account name" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Routing Number</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="routing_number"
                            placeholder="routing number" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">CVV</label>
                        <div class="col-sm-8">
                          <input type="number" maxlength="3" placeholder="cvv" formControlName="cvv"
                            class="form-control ">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Expiry Month</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="expiry_month">
                            <option value="">Select Type</option>
                            <option selected value='1'>Janaury</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Expiry Year</label>
                        <div class="col-sm-8">
                          <input type="number" maxlength="4" class="form-control" formControlName="expiry_year"
                            placeholder="expiry year" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Valid</label>
                        <div class="col-sm-8">
                          <input type="number" class="form-control" formControlName="valid" placeholder="valid" />
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <button type="submit" *ngIf="!hideSubmit" (click)="savePayment()"
                class="btn btn-gradient-primary mr-2">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Relationships" [disabled]="true">
          <ng-template ngbTabContent>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Attachments" [disabled]="!showAttachment">
          <ng-template ngbTabContent>
            <div class="card-title">
              <button type="button" class="btn btn-gradient-primary btn-sm" (click)="addDocument()">Add
                Documents
              </button>
            </div>
            <form class="form-sample" [formGroup]="documentForm">
              <ngb-alert *ngIf="documentError" [dismissible]="false" class="d-block mt-3" type="danger">
                {{documentFormError}}
              </ngb-alert>
              <ngb-alert *ngIf="documentSuccess" [dismissible]="false" class="d-block mt-3" type="success">
                {{documentMessage}}
              </ngb-alert>
              <div formArrayName="document">
                <section class="container border mb-4 p-3" *ngFor="let item of document.controls; let pointIndex=index"
                  [formGroupName]="pointIndex">
                  <div class="card-title">Document {{pointIndex + 1}}</div>
                  <div class="card-description text-right">
                    <button type="button" class="btn btn-gradient-danger btn-sm"
                      (click)="deleteDocument(pointIndex)">Delete Document</button>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Document Type</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="document_type_id">
                            <option value="">Select Type</option>
                            <option *ngFor="let item of docType" value={{item.document_type_id}}>
                              {{item.doc_type_description}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Due Date</label>
                        <div class="col-sm-8">
                          <input type="text" placeholder="YYYY-DD-MM" formControlName="due_date"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-DD-MM', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date Submitted</label>
                        <div class="col-sm-8">
                          <input type="text" placeholder="YYYY-DD-MM" formControlName="date_submitted"
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-DD-MM', containerClass: 'theme-default' }"
                            class="form-control " bsDatepicker>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Status</label>
                        <div class="col-sm-8">
                          <select class="form-control" formControlName="status">
                            <option value="">Select Type</option>
                            <option value="1">Active</option>
                            <option value="0">In-Active</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <button type="submit" (click)="openMediumModal(mediumModalContent)" *ngIf="!hideSubmit"
                class="btn btn-gradient-primary mr-2">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<!-- Modal starts -->
<ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Confirmation</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{modalMessage}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" *ngIf="successModal" class="btn btn-success"
        (click)="[modal.close(),redirect()]">Submit</button>
      <button type="button" *ngIf="confirmModal" class="btn btn-success"
        (click)="[modal.close(),saveDocument()]">Submit</button>
      <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
    </div>
  </div>
</ng-template>
<!-- Modal Ends -->