<style>
  ::ng-deep.mat-tab-link,
  ::ng-deep.mat-tab-label,
  ::ng-deep.mat-tab-label-active {
    min-width: 97px !important;
  }

  mat-form-field {
    width: 100%;
  }

  ::ng-deep.ng-select.ng-select-single .ng-select-container {
    height: 50px;
  }
  /* ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
    top: 14px;
  }

  ::ng-deep.ng-input{
    height: 42px;
  } */

  tbody.text-center {
    text-align: left !important;
  }

  .grid-margin {
    margin-bottom: 0rem;
  }

  .form-check .form-check-label {
    font-size: 10px;
  }

  ::ng-deep .tabs .mat-tab-list .mat-tab-labels {
    font-weight: 100;
  }
</style>
<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body" style="margin-top: -50px;">
      <ngx-spinner bdColor="rgba(0,0,0,0.21)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
        <p style="color: white"> Loading... </p>
      </ngx-spinner>
      <form class="form-sample" [formGroup]="mainForm" style="font-size: 13px">
        <div class="row mt-3">
          <div class="col-md-6">
            <ng-select #MyNgSelect [(ngModel)]="primary_id" (change)="setPrimaryVal($event)"
              bindLabel="first_name"  bindLabel="name" placeholder="Primary" [clearable]="false"
              appendTo="body" [searchable]="true" formControlName="primary_id">
              <ng-option *ngFor="let item of primary" [value]=item.client_id?item.client_id:item.group_id>
                {{item.first_name?item.first_name:item.group_name}} {{item.last_name?item.last_name:''}}
              </ng-option>
            </ng-select>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Policy Number</mat-label>
              <input matInput placeholder="Policy Number" (keyup)="onSubmit()" formControlName="policy_number"
                [(ngModel)]="policy_number" required>
              <mat-error *ngIf="mainForm.get('policy_number').invalid && (mainForm.get('policy_number').touched)">
                <span *ngIf="mainForm.get('policy_number').errors.required">
                  Policy Number is Required.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" (selectionChange)="onSubmit()" [(ngModel)]="status" required>
                <mat-option *ngFor="let item of constants.status | keyvalue" [value]=item.key>{{item.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="mainForm.get('status').invalid && (mainForm.get('status').touched)">
                <span *ngIf="mainForm.get('status').errors.required">
                  Status is Required.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="policytype == 'I'||policytype=='|'">
            <mat-form-field appearance="outline">
              <mat-label>Election</mat-label>
              <mat-select formControlName="election" (selectionChange)="onSubmit()" [(ngModel)]="elections">
                <mat-option *ngFor="let item of constants.election | keyvalue" [value]="item.key">{{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Premium</mat-label>
              <input matInput placeholder="Premium" (keyup)="onSubmit()" formControlName="premium"
                [(ngModel)]="premium">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Pay Frequency</mat-label>
              <mat-select formControlName="pay_frequency" (selectionChange)="onSubmit()" [(ngModel)]="pay_frequency">
                <mat-option *ngFor="let item of constants.pay_frequency | keyvalue" value={{item.key}}>{{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Payment Mode</mat-label>
              <mat-select formControlName="payment_mode" (selectionChange)="onSubmit()" [(ngModel)]="payment_mode">
                <mat-option *ngFor="let item of constants.payment_mode | keyvalue" value={{item.key}}>{{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Application Date</mat-label>
              <input matInput [matDatepicker]="picker" (dateChange)="onSubmit()" formControlName="application_date"
                [(ngModel)]="application_date" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Effective Date</mat-label>
              <input matInput [matDatepicker]="picker1" (dateChange)="onSubmit()" formControlName="effective_date"
                [(ngModel)]="effective_date" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="mainForm.get('effective_date').invalid && (mainForm.get('effective_date').touched)">
                <span *ngIf="mainForm.get('effective_date').errors.required">
                  Effective Date is Required.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="picker2" (dateChange)="onSubmit()" formControlName="end_date"
                [(ngModel)]="end_date" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="mainForm.get('end_date').invalid && (mainForm.get('end_date').touched)">
                <span *ngIf="mainForm.get('end_date').errors.required">
                  End Date is Required.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Notes</mat-label>
              <textarea matInput formControlName="notes" rows="5" placeholder="Notes.." [(ngModel)]="notes"
                (keyup)="onSubmit()"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
      <!-- <button class="btn btn-primary float-right" [disabled]="!mainForm.valid" (click)="validate()"
        *ngIf="!disable">SUBMIT</button> -->
    </div>
  </div>
</div>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> {{modalMessage}}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" *ngIf="errorModal" (click)="modalRef.hide()">Ok</button>
      <button type="button" class="btn btn-success" *ngIf="!deleteClient && !errorModal"
        (click)="updateDetails()">Ok</button>
      <button type="button" class="btn btn-success" *ngIf="deleteClient" (click)="delete()">Yes</button>
      <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>
