<style>
  ::ng-deep .mat-form-field-wrapper {
    margin-top: -1.25em;
  }

  mat-icon {
    cursor: pointer;
  }
  tbody.text-center {
    text-align: left !important;
}
</style>

<div class="action-container" style="padding: 3%;">
  <button mat-raised-button class="btn btn-primary float-right" type="submit" (click)="addRow()" *ngIf="!disable">Add
    Row</button>
</div>

<form [formGroup]="contactForm">
  <table class="table table-bordered table-sm">
    <thead class="text-nowrap text-center">
      <th>
        <h6>Address</h6> <span dragableColumn> </span>
      </th>
      <!-- <th>
        <h6>Contact Type</h6> <span dragableColumn> </span>
      </th> -->
      <th>
        <h6>Name</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Position</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Department</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Fax</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Notes</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Valid<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Phone</h6><span dragableColumn> </span>
      </th>
      <th>
        <h6>Email</h6>
      </th>
      <th></th>
    </thead>
    <tbody class="text-center">
      <ng-container formArrayName="groupContactDetails" *ngFor="let group of getFormControls.controls ; let i=index">
        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
          <td>
            {{getIndividual(group.get('address_id').value)}}
            &nbsp;
            <button type="button" class="btn btn-primary btn-sm" (click)="openModal()">Address</button>
          </td>
          <!-- <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Contact Type</mat-label>
              <mat-select formControlName="contact_type" (selectionChange)="disableField(i)" required>
                <mat-option *ngFor="let item of contactype | keyvalue" value={{item.key}}>
                  {{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Name" formControlName="name" (keyup)="submitForm()"
                autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Position</mat-label>
              <input matInput type="text" placeholder="Position" formControlName="position" (keyup)="submitForm()"
                autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Department</mat-label>
              <input matInput type="text" placeholder="Department" formControlName="department" (keyup)="submitForm()"
                autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Fax</mat-label>
              <input matInput type="text" placeholder="FAX" formControlName="fax" (keyup)="submitForm()"
                autocomplete="off" appPhoneMask/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Notes</mat-label>
              <input matInput type="text" placeholder="Notes" formControlName="notes" (keyup)="submitForm()"
                autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Valid</mat-label>
              <mat-select formControlName="valid" (selectionChange)="submitForm()">
                <mat-option value="1">Valid
                </mat-option>
                <mat-option value="0">Not Valid
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Phone No</mat-label>
              <input matInput type="text" placeholder="Phone no" formControlName="phone" maxlength="13" appPhoneMask
                (keyup)="submitForm()" autocomplete="off" appPhoneMask />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email" formControlName="email" (keyup)="submitForm()"
                autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
            <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
          </td>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Address</h4>
                  <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
                  </mat-form-field>
                  <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="address_type">
                      <mat-header-cell *matHeaderCellDef> Address Type </mat-header-cell>
                      <mat-cell *matCellDef="let element"
                        (click)="[submitForm(),setValue(group,element.address_id),onCloseHandled()]">
                        {{element.address_type == 1 ? 'Home':element.address_type == 2 ? 'Work':element.address_type == 3 ? 'Mailing':'Others'}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="number">
                      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
                      <mat-cell *matCellDef="let element"
                        (click)="[submitForm(),setValue(group,element.address_id),onCloseHandled()]">
                        {{element.number}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="street">
                      <mat-header-cell *matHeaderCellDef> Street </mat-header-cell>
                      <mat-cell *matCellDef="let element"
                        (click)="[submitForm(),setValue(group,element.address_id),onCloseHandled()]">
                        {{element.street}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                      <mat-cell *matCellDef="let element"
                        (click)="[submitForm(),setValue(group,element.address_id),onCloseHandled()]">
                        {{element.city}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                      <mat-cell *matCellDef="let element"
                        (click)="[submitForm(),setValue(group,element.address_id),onCloseHandled()]">
                        {{element.state}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="zip">
                      <mat-header-cell *matHeaderCellDef> Zip </mat-header-cell>
                      <mat-cell *matCellDef="let element"
                        (click)="[submitForm(),setValue(group,element.address_id),onCloseHandled()]">
                        {{element.zip}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
                  </mat-paginator>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="onCloseHandled()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <tr *ngIf="!group.get('isEditable').value">
          <td>
            {{getIndividual(group.get('address_id').value)}}
          </td>
          <td>
            {{group.get('name').value?group.get('name').value:''}}
          </td>
          <td>
            {{group.get('position').value?group.get('position').value:''}}
          </td>
          <td>
            {{group.get('department').value?group.get('department').value:''}}
          </td>
          <td>
            {{group.get('fax').value?group.get('fax').value:''}}
          </td>
          <td>
            {{group.get('notes').value?group.get('notes').value:''}}
          </td>
          <td>
            {{group.get('valid').value ?group.get('valid').value==1?'Valid':'Not Valid':'Valid'}}
          </td>
          <td>
            {{group.get('phone').value?group.get('phone').value:''}}
          </td>
          <td>
            {{group.get('email').value?group.get('email').value:''}}
          </td>
          <td>
            <mat-icon class="edit" (click)="editRow(group)" *ngIf="!disable">edit</mat-icon>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</form>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> {{modalMessage}}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modalRef.hide()">Ok</button>
      <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>
