<style>
    ::ng-deep .mat-form-field-wrapper {
        margin-top: -1.25em;
    }

    mat-icon {
        cursor: pointer;
    }
    tbody.text-center {
    text-align: left !important;
}
</style>

<div class="action-container" style="padding: 3%;">
    <button mat-raised-button class="btn btn-primary float-right" type="submit" (click)="addRow()" *ngIf="!disable">Add Row</button>
    &nbsp;
    <!-- <button mat-raised-button class="btn btn-primary" [disabled]="contactForm.invalid" type="submit"
        (click)="submitForm()">Submit</button> -->
</div>

<form [formGroup]="contactForm">
    <table class="table table-bordered table-sm">
        <thead class="text-nowrap text-center">
            <th>
                <h6>Contact Type<span class="text-danger">*</span></h6> <span dragableColumn> </span>
            </th>
            <th>
                <h6>Phone</h6><span dragableColumn> </span>
            </th>
            <th>
                <h6>Email</h6>
            </th>
            <th></th>
        </thead>
        <tbody class="text-center">
            <ng-container formArrayName="clientContactDetails"
                *ngFor="let group of getFormControls.controls ; let i=index">
                <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">

                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Contact Type</mat-label>
                            <mat-select formControlName="contact_type" (selectionChange)="disableField(i)" required>
                                <mat-option *ngFor="let item of contactype | keyvalue" value={{item.key}}>
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Phone No</mat-label>
                            <input matInput type="text" placeholder="Phone no" formControlName="phone" maxlength="13"
                                appPhoneMask (keyup)="submitForm()" autocomplete="off" />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Email" formControlName="email"
                                (keyup)="submitForm()" autocomplete="off" />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                        <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
                    </td>
                </tr>
                <tr *ngIf="!group.get('isEditable').value">
                    <td>
                        {{group.get('contact_type').value?contactype[group.get('contact_type').value]:''}}
                    </td>
                    <td>
                        {{group.get('phone').value?group.get('phone').value:''}}
                    </td>
                    <td>
                        {{group.get('email').value?group.get('email').value:''}}
                    </td>
                    <td>
                        <mat-icon class="edit" (click)="editRow(group)" *ngIf="!disable">edit</mat-icon>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</form>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
            <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p> {{modalMessage}}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modalRef.hide()">Ok</button>
            <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
        </div>
    </div>
</ng-template>
