<div class="template-demo">
  <h2>{{username}} <small class="text-muted"> Global Financial, Inc. </small></h2>
</div>

<form class="form-sample" (ngSubmit)="onSubmit(dashboardForm)" [formGroup]="dashboardForm" style="font-size: 13px">
      <mat-form-field appearance="outline" class="example-full-width" style="width: 45%;">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="notes" rows="8" placeholder="Notes" [(ngModel)]="notes"
         ></textarea>
      </mat-form-field>
  <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 5px;">Save</button>
</form>
