<style>
    ::ng-deep .mat-form-field-wrapper {
        margin-top: -1.25em;
    }
    mat-icon {
   cursor: pointer;
}
</style>

<div class="action-container" style="padding: 3%;">
    <button mat-raised-button class="btn btn-primary float-right" type="submit" (click)="addRow()" *ngIf="!disable">Add row</button>
    &nbsp;
    <!-- <button mat-raised-button class="btn btn-primary" [disabled]="contactForm.invalid" type="submit"
        (click)="submitForm()">Submit</button> -->
</div>

<form [formGroup]="employmentForm" style="font-size: 12px">
    <table class="table table-bordered table-sm">
        <thead class="text-nowrap text-center">
            <th>
                <h6>Employer Name<span class="text-danger">*</span></h6><span dragableColumn> </span>
            </th>
            <th>
                <h6>Employer Phone</h6> <span dragableColumn> </span>
            </th>
            <th>
                <h6>Income Amount<span class="text-danger">*</span></h6> <span dragableColumn> </span>
            </th>
            <th>
                <h6>Income Frequency<span class="text-danger">*</span></h6> <span dragableColumn> </span>
            </th>
            <th>
                <h6>Start Date<span class="text-danger">*</span></h6> <span dragableColumn> </span>
            </th>
            <th>
                <h6>To Date</h6> <span dragableColumn> </span>
            </th>
            <th></th>
        </thead>
        <tbody class="text-center">
            <ng-container formArrayName="clientEmploymentDetails"
                *ngFor="let group of getFormControls.controls ; let i=index">
                <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Employer Name</mat-label>
                            <input matInput type="text" formControlName="employer_name" (keyup)="submitForm()"
                                autocomplete="off" />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Employer Phone</mat-label>
                            <input matInput type="text" formControlName="employer_phone" (keyup)="submitForm()"
                                autocomplete="off" appPhoneMask />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Income Amount</mat-label>
                            <input matInput type="text" formControlName="income_amount" (keyup)="submitForm()"
                                autocomplete="off" />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Income Frequency</mat-label>
                            <mat-select formControlName="income_frequency" (selectionChange)="submitForm()">
                                <mat-option *ngFor="let item of incomeFrequency | keyvalue" value={{item.key}}>
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>Start Date</mat-label>
                            <input matInput matInput [matDatepicker]="picker" formControlName="start_date" (dateChange)="submitForm()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="font-size: 10px">
                            <mat-label>End Date</mat-label>
                            <input matInput matInput [matDatepicker]="picker1" formControlName="end_date" (dateChange)="submitForm()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                        <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
                    </td>
                </tr>
                <tr *ngIf="!group.get('isEditable').value">
                    <td>
                        {{group.get('employer_name').value?group.get('employer_name').value:'NA'}}
                    </td>
                    <td>
                        {{group.get('employer_phone').value?group.get('employer_phone').value:'NA'}}
                    </td>
                    <td>
                        {{group.get('income_amount').value?group.get('income_amount').value:'NA'}}
                    </td>
                    <td>
                        {{group.get('income_frequency').value?group.get('income_frequency').value:'NA'}}
                    </td>
                    <td>
                        {{group.get('start_date').value?group.get('start_date').value:'NA'}}
                    </td>
                    <td>
                        {{group.get('end_date').value?group.get('end_date').value:'NA'}}
                    </td>
                    <td>
                        <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</form>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
            <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p> {{modalMessage}}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modalRef.hide()">Ok</button>
            <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
        </div>
    </div>
</ng-template>