<div class="template-demo" style="margin-top:10px">
  <h1>Agents</h1>
</div>
<style>
  .mat-row:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  mat-header-cell {
    display: flex;
    font-size: 15px;
    font-weight: 550;
    /* justify-content: center; */
  }

  tbody.text-center {
    text-align: left !important;
  }
</style>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body" style="padding: 1.0rem 1.0rem;">
        <button type="button" class="btn btn-primary btn-sm float-right" (click)="newAgent()">New
          Agents</button>

        <ngx-spinner bdColor="rgba(0,0,0,0.21)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
          <p style="color: white"> Loading... </p>
        </ngx-spinner>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>

        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="getSingleAgent(element.agent_id)">
              {{element.first_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="getSingleAgent(element.agent_id)">
              {{element.last_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="agent_license_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lisense Number </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="getSingleAgent(element.agent_id)">
              {{element.agent_license_number}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="national_producer_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NPN </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="getSingleAgent(element.agent_id)">
              {{element.national_producer_number}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
        </mat-paginator>
      </div>
    </div>
  </div>
