<style>
  ::ng-deep .mat-form-field-wrapper {
    margin-top: -1.25em;
  }

  tbody.text-center {
    text-align: left !important;
  }

  mat-icon {
    cursor: pointer;
  }
</style>

<div class="action-container" style="padding: 3%">
  <button mat-raised-button class="btn btn-primary float-right" type="submit" (click)="addRow()" *ngIf="!disable">Add
    Row</button>
</div>

<form [formGroup]="addressForm" style="font-size: 12px">
  <table class="table table-bordered table-sm">
    <thead class="text-nowrap text-center">
      <th>
        <h6>Address Type<span class="text-danger">*</span></h6><span dragableColumn> </span>
      </th>
      <th>
        <h6>Number<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Street<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Suite</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>City<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>State<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>Zip<span class="text-danger">*</span></h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>From Date</h6> <span dragableColumn> </span>
      </th>
      <th>
        <h6>To Date</h6> <span dragableColumn> </span>
      </th>
      <th></th>
    </thead>
    <tbody class="text-center">
      <ng-container formArrayName="carrierAddressDetails" *ngFor="let group of getFormControls.controls ; let i=index">
        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Address Type</mat-label>
              <mat-select formControlName="address_type" (selectionChange)="submitForm()">
                <mat-option *ngFor="let item of addresstype | keyvalue" value={{item.key}}>
                  {{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Number</mat-label>
              <input matInput type="text" formControlName="number" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Street</mat-label>
              <input matInput type="text" formControlName="street" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Suite</mat-label>
              <input matInput type="text" formControlName="suite" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>City</mat-label>
              <input matInput type="text" formControlName="city" (keyup)="submitForm()" autocomplete="off" />
              <!-- <mat-select formControlName="city" (selectionChange)="submitForm()">
                              <mat-option *ngFor="let item of city" value={{item}}>{{item}}
                              </mat-option>
                          </mat-select> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>State</mat-label>
              <mat-select formControlName="state" (selectionChange)="submitForm()">
                <mat-option *ngFor="let item of states | keyvalue" value={{item.key}}>
                  {{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>Zip</mat-label>
              <input matInput type="text" formControlName="zip" (keyup)="submitForm()" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>From Date</mat-label>
              <input matInput matInput [matDatepicker]="picker" formControlName="from_date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" style="font-size: 10px">
              <mat-label>To Date</mat-label>
              <input matInput matInput [matDatepicker]="picker1" formControlName="to_date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
            <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
          </td>
        </tr>
        <tr *ngIf="!group.get('isEditable').value">
          <td>
            {{group.get('address_type').value ? addresstype[group.get('address_type').value] :''}}
          </td>
          <td>
            {{group.get('number').value ? group.get('number').value :''}}
          </td>
          <td>
            {{group.get('street').value ? group.get('street').value:''}}
          </td>
          <td>
            {{group.get('suite').value ? group.get('suite').value:''}}
          </td>
          <td>
            {{group.get('city').value?group.get('city').value:''}}
          </td>
          <td>
            {{group.get('state').value? states[group.get('state').value]:''}}
          </td>
          <td>
            {{group.get('zip').value?group.get('zip').value:''}}
          </td>
          <td>
            {{group.get('from_date').value?getFormattedDate(group.get('from_date').value):''}}
          </td>
          <td>
            {{group.get('to_date').value?getFormattedDate(group.get('to_date').value):''}}
          </td>
          <td>
            <mat-icon class="edit" (click)="editRow(group)" *ngIf="!disable">edit</mat-icon>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</form>

<ng-template #template let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Message</h5>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> {{modalMessage}}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modalRef.hide()">Ok</button>
      <button type="button" class="btn btn-light" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>
